argcomplete==1.10.3
arrow==0.14.7
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
chardet==3.0.4
click==8.0.1
compressed-rtf==1.0.6
docx2txt==0.8
ebcdic==1.1.1
EbookLib==0.17.1
extract-msg==0.28.7
Flask==2.0.1
ics==0.7
IMAPClient==2.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
olefile==0.46
pdfminer.six==20191110
Pillow==8.3.2
pycryptodome==3.10.1
PyPDF2==1.26.0
python-dateutil==2.8.2
python-pptx==0.6.19
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
TatSu==5.6.1
textract==1.6.4
tzlocal==3.0
Werkzeug==2.0.1
xlrd==1.2.0
XlsxWriter==3.0.1
